.profile-dropdown {
  position: absolute;
}

#top-nav-bar{
  /* background-color: rgba(); */
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
