.profile-dropdown {
  position: absolute;
  margin-top: 25px;
}

#top-nav-bar{
  /* background-color: rgba(); */
  margin: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  box-shadow: 0 4px 2px -2px #8b8c8f;
  padding-right: 100px;
}

#nav-buttons{
  display: flex;
  justify-content: space-between;
}

#nav-bar-logo{
  height: 120px;
}
